@import "../main.css";

/* Keyframes Animations */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes inputFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes textFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes wrapFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Main Container */
.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    transition: transform 0.2s;
    width: 500px;
    text-align: center;
    animation: slideIn 0.5s ease-in-out;
}

/* Headings */
h1 {
    color: #FF6347; /* Tomato */
    font-family: "Century Gothic", ui-monospace;
    animation: textFadeIn 1s ease-in-out;
}

/* Labels */
label {
    display: block;
    width: 100%;
    margin: 10px 0 5px;
    text-align: left;
    color: #555;
    font-weight: bold;
    animation: textFadeIn 1s ease-in-out;
}

/* Input Container */
.input-fade {
    animation: inputFadeIn 1s ease-in-out;
}

/* Wrapper */
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: wrapFadeIn 1s ease-in-out;
}